    </div>
    </main>
    
    <footer id="footer" class="ui inverted segment grid">
        <div class="eight wide column">
            <a class="item" href="https://github.com/Roildan/AMAPp" target="_blank">
                <i class="github icon"></i>GitHub
            </a>
        </div>
        <div class="eight wide right aligned column">
            <div id="design">
                Design by : Arthur Moulin <i class="creative commons icon"></i>
            </div>
            <div id="mail">
                <i class="envelope open icon"></i> arthurmoulin@hotmail.fr
            </div>
        </div>
        
        <script>
            $("#mail").hide();
            
            $("#design").on("click", function() {
                $(this).hide();
                $("#mail").show();
            });
            
            $("#mail").on("click", function() {
                $(this).hide();
                $("#design").show();
            });
        </script>
    </footer>

</body>
</html>