    </div>
    </main>
    
    <footer class="ui right aligned inverted segment">
        <p class="item">
            Design by : Arthur Moulin <i class="creative commons icon"></i>
        </p>
    </footer>

</body>
</html>