    </div>
    </main>
    
    <footer id="footer" class="ui inverted segment grid">
        <div class="eight wide column">
            <a class="item" href="https://github.com/Roildan/AMAPp" target="_blank">
                <i class="github icon"></i>GitHub
            </a>
        </div>
        <div class="eight wide right aligned column">
            <p class="item">
                Design by : Arthur Moulin <i class="creative commons icon"></i>
            </p>
    </footer>

</body>
</html>