</head>

<body class="site">
    <header class="ui inverted segment">
        <div class="ui inverted secondary pointing menu">
            <a id="home" class="item" href="/">
                <i class="home icon"></i>Home
            </a>
            <a id="contracts" class="item" href="/contracts">
                <i class="leaf icon"></i>Contracts
            </a>
            <a id="bulk" class="item" href="/bulk">
                <i class="food icon"></i>Bulk
            </a>
            <% if( !currentUser ) { %>
                <a id="login" class="item right" href="/login"><i class="user icon"></i>Login</a>
                <a id="register" class="item" href="/register"><i class="add user icon"></i>Sign Up</a>
            <% } else { %>
                <% if( currentUser.isAdmin ) { %>
                    <a  id="management" class="item right" href="/management">
                        <i class="users icon"></i>Management
                    </a>
                <% } %>
                <a id="profile" class="item right" href="/profile">
                    <%= currentUser.username %>
                    <% if( currentUser.isAdmin ) { %>
                        (Admin)
                    <% } else if( currentUser.isProducer ) { %>
                        (Producer)
                    <% } %>
                </a>
                <a class="item" href="/logout"><i class="remove user icon"></i>Logout</a>
            <% } %>
        </div>
    </header>
    
    <main class=mainContent>