<% include partials/headerDoctype %>
    <link rel="stylesheet" href="/css/index.css"></link>
<% include partials/headerNavbar %>

<script type="text/javascript">
    $("#bulk").addClass("active");
</script>

<div class="ui container">
    <h1 class="ui center aligned block header">Bulk Page</h1>

    <div class="ui divided items">
        <% products.forEach( function( product ) { %>
            <div class="item">
                <div class="image">
                    <img src="<%= product.image %>">
                </div>
                <div class="content">
                    <h2 class="ui medium header"><%= product.name %></h2>
                    <div class="description">
                        <p><%= product.description %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</div>


<% include partials/footer %>