<% include partials/header %>

<script type="text/javascript">
    $("#bulk").addClass("active");
    $("#basket").removeClass("active");
    $("#home").removeClass("active");
</script>

<div class="ui container">
    <h1>Bulk Page</h1>

    <div class="ui divided items">
        <% products.forEach( function( product ) { %>
            <div class="item">
                <div class="image">
                    <img src="<%= product.img %>">
                </div>
                <div class="content">
                    <h2 class="header"><%= product.name %></h2>
                    <div class="description">
                        <p><%= product.desc %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</div>


<% include partials/footer %>