<% include partials/header %>

<script type="text/javascript">
    $("#home").addClass("active");
    $("#basket").removeClass("active");
    $("#bulk").removeClass("active");
</script>

<div class="ui container">
    <h1>Welcome to AMApp !!</h1>
</div>

<% include partials/footer %>