<% include partials/header %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<div class="ui container">
    <h1>Contracts</h1>

    <div class="ui divided items">
        <% contracts.forEach( function( contract ) { %>
            <div class="item">
                <div class="image">
                    <img src="<%= contract.image %>">
                </div>
                <div class="content">
                    <h2 class="header"><%= contract.name %></h2>
                    <div class="description">
                        <p><%= contract.description %></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>