<% include partials/header %>

<script type="text/javascript">
    $("#login").addClass("active");
</script>

<div class="ui container">
    <h1>Login !</h1>
    
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</div>

<% include partials/footer %>
