<% include partials/headerDoctype %>
    <link rel="stylesheet" href="/css/index.css"></link>
<% include partials/headerNavbar %>

<script type="text/javascript">
    $("#login").addClass("active");
</script>

<div class="ui container">
    <h1>Login !</h1>
    
    <form class="ui form" action="/login" method="POST">
        <div class="field">
            <label>Username</label>
            <input type="text" name="username" placeholder="Username" required>
        </div>
        
        <div class="field">
            <label>Username</label>
            <input type="password" name="password" placeholder="password" required>
        </div>
        
        <input class="ui button" type="submit" value="Login">
    </form>
</div>

<% include partials/footer %>
