#header,
#footer {
    margin-bottom: 0;
}


#user,
#management {
    color: rgba(255, 255, 255, .7);
}

#onClick,
#mail {
    cursor: pointer;
}

.inlineForm {
    display: inline;
}

.showButton {
    padding-bottom: 0 !important;
    font-size: .9em !important;
}

.hiddenPlace {
    top: 30% !important;
}

.mainContent {
    flex: 1;
}

.site {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.marginTop {
    margin-top: 10px !important;
}

select:invalid {
    color: lightgrey !important;
}

option {
    color: black;
}
