.site {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#header {
    margin-bottom: 0;
}

#user {
    color: rgba(255, 255, 255, .7);
}

.inlineForm {
    display: inline;
}

.mainContent {
    flex: 1;
}
