#header,
#footer {
    margin-bottom: 0;
}


#user,
#management {
    color: rgba(255, 255, 255, .7);
}

#onClick,
#mail {
    cursor: pointer;
}

.inlineForm {
    display: inline;
}

.mainContent {
    flex: 1;
}

.site {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.marginTop {
    margin-top: 10px;
}
