<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementContracts").addClass("active");
    $("#management").css("color", "#fff");
</script>

<h1 class="ui center aligned block header">Contracts Management</h1>

<% user.contract.created.forEach( function( contract ) { %>
    <p><a href="/contracts/<%= contract._id %>">
        <%= contract.name %>
    </a></p>
<% }); %>

<% include ../partials/footer %>
