<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#managementContracts").addClass("active");
    $("#management").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Contracts Management</h1>

<% user.contract.created.forEach( function( contract ) { %>
    <% const { _id, name } = contract; %>
    
    <p><a href="/contracts/<%= _id %>">
        <%= name %>
    </a></p>
<% }); %>

<% include ../partials/footer %>
