<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#myContracts").addClass("active");
    $("#user").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">My Contracts</h1>

<h2 class="ui medium header">Subscibed Contract(s) :</h2>
<% user.contract.subscribed.forEach( function( contract ) { %>
    <% const { _id, name } = contract; %>
    <p><a href="/contracts/<%= _id %>">
        <%= name %>
    </a></p>
<% }); %>


<% include ../partials/footer %>