<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#planning").addClass("active");
    $("#user").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Planning</h1>

<% for (let i = 0; i < weeks.length; i++) { %>
    <div id="<%= i %>" class="planning ui basic segment" <% if (i !== 2) { %>hidden<% } %>>
        <table class="ui celled olive large center aligned table">
            <thead>
                <tr>
                    <th colspan="7" class=" ui olive large header">
                        Subscribed Contracts
                    </th>
                </tr>
                <tr>
                    <th>
                        Monday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                    <th>
                        Tuesday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                    <th>
                        Wednesday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                    <th>
                        Thursday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                    <th>
                        Friday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                    <th>
                        Saturday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                    <th>
                        Sunday <span class="Date"></span>/<span class="Month"></span>
                    </th>
                </tr>
            </thead>
            
            <tbody>
                <% for (let j = 0; j < maxPerDay[i]; j++) { %>
                    <tr>
                        <% for (let day of weeks[i]) { %>
                            <td>
                                <% if (day[j]) { %>
                                    <a href="/contracts/<%= day[j]._id %>">
                                        <%= day[j].name %>
                                    </a>
                                <% } %>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% } %>

<button id="prevButton" class="ui left floated olive button">
    <i class="left chevron icon"></i>
    Previous Week
</button>

<button id="nextButton" class="ui right floated olive button">
    Next Week
    <i class="right chevron icon"></i>
</button>

<script type="text/javascript" src="/js/planning.js"></script>

<% include ../partials/footer %>