<% include ../partials/headerDoctype %>
<% include ../partials/headerNavbar %>

<script type="text/javascript">
    $("#planning").addClass("active");
    $("#user").css("color", "#fff");
</script>

<h1 class="ui center aligned block inverted olive header">Planning</h1>


<% include ../partials/footer %>