<% include ../partials/header %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<div class="ui container">
    <h1>Add new contract</h1>
    
    <a href="/contracts">Go back</a>

    
</div>

<% include ../partials/footer %>