<% include ../partials/header %>

<script type="text/javascript">
    $("#contracts").addClass("active");
</script>

<div class="ui container">
    <h1>Add New Contract</h1>
    
    <form class="ui form" action="/contracts" method="POST">
        <div class="field">
            <label>Contract Name</label>
            <input type="text" name="contract[name]" placeholder="Name" required>
        </div>
        
        <div class="field">
            <label>Image URL</label>
            <input type="text" name="contract[image]" placeholder="Image URL" required>
        </div>
        
        <div class="field">
            <label>Price</label>
            <input type="number" name="contract[price]" placeholder="Price" min="0.00" step="0.01" required>
        </div>
        
        <div class="field">
            <label>Disponibility</label>
            <input type="number" name="contract[disponibility]" placeholder="Disponibility" min="0" step="1" required>
        </div>
        
        <div class="field">
            <label>Description</label>
            <textarea rows="3" name="contract[description]" required></textarea>
        </div>
        
        <a class="ui button" href="/contracts"><i class="arrow left icon"></i>Go back</a>
        <input class="ui button" type="submit" value="Submit !">
    </form>
    
</div>

<% include ../partials/footer %>